* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ffffff;
    color: #333333;
    line-height: 1.6;

    // color variables
    --color-primary:    #28a745;
    --color-secondary:  #0284d0;
    --color-dark:       #333333;
    --color-light:      #f4f4f4;
}

ul {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
}

h1, 
h2 {
    font-weight: 300;
    line-height: 1.2;

}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

// ====== Navigation ======
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333333;
    color: #ffffff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    z-index: 2;
    transition: 0.8s;
    
    &.top {
        background: transparent;
    }

    a {
        color: #ffffff;
        padding: 10px 20px;
        margin: 0 5px;
    }

    a:hover {
        border-bottom: #28a745 2px solid;
    }

    ul {
        display: flex;
    }

    .logo {
        font-weight: 400;
    }
}

//====== Header ======
.hero {
    background: url(../images/home/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #ffffff;

    &.blog {
        background: url('../images/home/blog.jpg') no-repeat center center/center;
        height: 30vh;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.8);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        padding: 10px;

        h1 {
            font-size: 55px;
        }
    
        p {
            font-size: 23px;
            max-width: 600px;
            margin: 20px 0 30px;
        }
    }
}

// ======= Icons =========

.icons {
    padding: 30px;

    h3 {
        font-weight: bold;
        margin-bottom: 15px;
    }

    i {
        background-color: var(--color-primary);
        color: #ffffff;
        padding: 1rem;
        border-radius: 50%;
        margin-bottom: 15px;
    }
}

// ======= Cases =========
.cases {

    img:hover {
        opacity: 0.8;
    }
}

.team {
    img {
        border-radius: 50%;
    }
}

// ======= Callback form =========
.callback-form {
    width: 100%;
    padding: 20px 0;

    h2 {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    .form-control {
        margin-bottom: 15px;
    }

    input {
        width: 100%;
        padding: 4px;
        height: 40px;
        border: #f5f5f5 1px solid;

        &:focus {
            outline-color: var(--color-primary);
        }
    }

    .btn {
        padding: 12px 0;
        margin-top: 20px;
    }
}

.post {
    padding: 50px 30px;

    h2 {
        font-size: 40px;
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
        border-bottom: #cccccc 1px solid;
    }

    .meta {
        margin-bottom: 30px;
    }

    img {
        width: 300px;
        margin: 0 auto 30px;
        border-radius: 50%;
        display: block;
    }
}

// ======= Footer =========
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;

    a {
        color: #ffffff;

        &:hover {
            color: #28a745;
        }
    }

    .social > * {
        margin-right: 30px;
    }
}

// ======= Mobile =========
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;

        a {
            padding: 10px 10px;
            margin:  0 3px;
        }
    }

    .flex-items {
        flex-direction: column;
    }

    .flex-columns .column,
    .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }

    .team img{
        width: 70%;
    }
}