
body {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    margin-top: 200px;
}

*, *:before, *:after {
box-sizing: inherit; 
}

h1, h2, h3, h4, h5{
    margin: 0;
}

body{
    
    margin: 0 auto;
    background-color: #FFF;
    
}

header{
    background:  rgba(69, 110, 190, 0.6);
    width: 100%;
    color: #ffffff;
    /* position: fixed; */
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(6px);

}

header .content-wrapper{
    max-width: 1000px;
}

header a{
color: #ffffff;
text-decoration: none;
}

.logo{
    color: #ffffff;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
}

.nav-toggle{
    display: block;
    padding: 10px;
    background: black;
    width: 50px;
    height: 50px;
    display: none;

}

.nav-toggle span{
    background: rgb(120, 120, 120);
    height: 3px;
    width: 100%;
    margin-top: 5px;
    display: block;
}

.nav-toggle:hover span{
    background: white;
}

.menu{
margin: 0px auto;
display: flex;
}

.menu > li{
display: inline;
text-align: center;
text-decoration: none;
padding: 10px 20px;
}

.dropdown:hover .dropcon{
    display: block;
}

.dropcon{
    position: absolute;
    z-index: 2;
    background: #003090;
    box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.8);
    display: none;
}

@media only screen and (max-width: 720px){
    .nav-toggle{
        display: block;
        z-index: 11;
    }
    .menu{
        position: absolute;
        z-index: 2;
        flex-direction: column;
        margin: 0;
        background: #003090;
        transition: left .2s ease;
    }

    .off-screen{
        left: -125px;
    }

    .on-screen{
        left: 0;
    }

    .menu > li{
        display: block;
        text-align: left;
    }

    .dropcon{
        position: relative;
        background: #003090;
        display: none;
        box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.8);
    }
    
}

.tilted {
    transform:
      perspective(75em)
      rotateX(18deg);
    box-shadow:
      rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
      rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color:
      rgb(213, 220, 226)
      rgb(213, 220, 226)
      rgb(184, 194, 204);
  }